POSTGRES_VERSION=16-alpine
POSTGRES_DB_NAME=api_sandbox
POSTGRES_USER=api_sandbox
POSTGRES_PASSWORD=change-me

MOCK_RUNTIME_IMAGE=api-sandbox/mock-runtime:dev
MOCK_NETWORK_NAME=api-sandbox-mocks
PUBLIC_NETWORK_NAME=api-sandbox-public
MOCK_PUBLIC_BASE_URL=https://mock-server.api-sandbox.merlant.xyz
MOCK_RUNTIME_PORT=8080
MOCK_RUNTIME_CONTAINER_PREFIX=api-sandbox-mock-
